body{
    padding: 70px 60px;
    background-color: bisque;
}

.all
{
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
   height: 100%;
   
}

.Box{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 25px;
}

.hello{
    width: 20%;
    height: 100%;
    background-color:rebeccapurple;
    border-radius: 25px;
}
.main{
    width: 80%;
    height: 100%;
}